<html>
<body>
    <p>Enter your client ID / client Secret </p>
    <form action="/auth" method="POST">
        <label for="clientId"><b>Client ID:</b></label>
        <input name="clientId" type="text" placeholder="Enter ClientID" />
        <br />
        <label for="clientSecret"><b>Client Secret</b></label>
        <input name="clientSecret" type="text" placeholder="Enter ClientSecret" />
        <br />
        <button type="submit">Click Me ✨</button>
    </form>
</body>
</html>